<?php

use Sami\Sami;
use Symfony\Component\Finder\Finder;
use Sami\Version\GitVersionCollection;
use Sami\RemoteRepository\GitHubRemoteRepository;

$dir = __DIR__ . '/src';

$iterator = Finder::create()
    ->files()
    ->name('*.php')
    ->in($dir);

$versions = GitVersionCollection::create($dir)
    ->add('1.x', '1.x branch');
    ->add('master', 'Master branch');

$repo = new GitHubRemoteRepository(
    'mtvbrianking/laravel-route-list',
    dirname($dir),
    'https://github.com/'
);

$options = [
    'theme' => 'default',
    'versions' => $versions,
    'title' => 'Laravel Route List',
    'build_dir' => __DIR__ . '/docs/%version%',
    'cache_dir' => __DIR__ . '/docs/cache/%version%',
    'remote_repository' => $repo,
    'default_opened_level' => 3,
];

return new Sami($iterator, $options);
